<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/header">
  <title>Home</title>
</head>
<body>


<nav th:replace="includes/navbar :: navbar"></nav>
<br>

<div>
  <h1>TIME TO PLAN</h1>
</div>

<div th:replace="includes/footer"></div>
<img th:src="@{/images/list.jpeg}"/>
<!--<img th:src="@{/images/Bakg.jpeg}"/>-->

<!--<div style="display: flex;">-->
<!--&lt;!&ndash;    <img th:src="@{/images/test.jpg}"/>&ndash;&gt;-->
<!--    <img th:src="@{/images/Bakg.jpeg}"/>-->
</div>
</body>
</html>












<!-- product section -->
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        MY <span>DAILY SCHEDULE</span>
      </h2>
    </div>
    <div class="row">









      <div th:each="product: ${products}" class="col-sm-6 col-md-4 col-lg-4">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <!--                            <a href="CartServlet?id=<%= product.getProductId()%>" class="option1">-->

              Add to Cart
              <!--                            </a>-->
              <a href="" class="option2">
                Buy Now
              </a>
            </div>
          </div>
          <div class="img-box">
            <img th:src="${product.image}" alt="">
          </div>
          <div class="detail-box">
            <h5 th:text="${product.product_name}">

            </h5>
            <h6 th:text="${product.price}">

            </h6>
          </div>
        </div>
      </div>


    </div>
    <div class="btn-box">






      <a href="">
        VIEW
      </a>
    </div>
  </div>
  </div>
</section>

<!-- end product section -->
